.banner-text{
    color: #fff;
}
.banner-text span, .name{
    color: #FF8C17;
}
.regular-btn{
    background-color: #8443df;
    border-color: #8443df;
    padding: 8px 24px;
    margin-top: 10px;
    margin-right: 10px;
    color: #fff;
}
.regular-btn:hover{
    background-color:#7621ee;
}
.banner-container{
    background:url('https://i.ibb.co/VTtSGD2/download.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.icon{
    font-size: 30px;
    color: #8443df;
}